.nav {	
	background-color: #222222;
	color: #ffffff;
	list-style: none;
	text-align: center;
	padding: 6px 0 6px 0;
}

.nav > li {
	display: inline-block;
	padding: 0 40px 0 50px;
	font-family: Comic Sans MS, serif;
	font-size: 17px;
	text-align: center;
}

.nav > li > a {
	text-decoration: none;
	color: #ffffff;
	display: block;
}

.nav > li > a:hover {
	color: #FF0000;
}

.copyright {
	text-align: center;
	/*background-color: #222222;*/
	color: #ffffff;
	padding-top: 200px;
}

* {
	font-family: 'Montserrat';
}

body {
	margin:0;
	padding: 0;
	background-color: #555555;
	/*background:url(https://s3-media2.fl.yelpcdn.com/bphoto/YYyWo-OkkOcJl4vWzA6kcg/o.jpg) no-repeat;*/
	/*background-size: cover;*/
}

h1 { 
  font-size: 41px;
}

p {
	font-size: 20px;
} 

.hed1 {
	text-align: left;
	padding-left: 70px;
}

.para1 {
	text-align: left;
	padding-left: 70px;
	padding-right: 70px;
}

.hed2 {
	text-align: left;
	padding-left: 70px;
}

.para2 {
	text-align: left;
	padding-left: 70px;
	padding-right: 70px;
}

.about-header {
	color: #ffffff;
}