.nav {
	background-color: #222222;
	color: #ffffff;
	list-style: none;
	text-align: center;
	padding: 6px 0 6px 0;
}

.nav > li {
	display: inline-block;
	padding: 0 40px 0 50px;
	font-size: 17px;
	font-family: 'Montserrat';
	text-align: center;
}

.nav > li > a {
	text-decoration: none;
	color: #ffffff;
	display: block;
}

.nav > li > a:hover {
	color: #FF0000;
}

body {
	margin:0;
	padding: 0;
	background-color: #222222;
	background:url(https://heartlandertourist.files.wordpress.com/2013/11/bubble_tea_lisa.jpg) no-repeat;
	background-size: cover;
	font-family: 'Montserrat';
}

.copyright {
	text-align: center;
	/*background-color: #222222;*/
	color: #ffffff;
	padding-top: 700px;
}


* {
	font-family: 'Montserrat';
}